/*//derived from basics
$primary: #1f2833 !default;
$info: #c5c6c7 !default;
$success: #66fcf1 !default;
$warning: #fcad0f !default;
$danger: #d82222 !default;

$light: #45a29E !default;
$dark: #0b0c10 !default;
*/
/* Sweep To Right */

.has-text-white{
  color: #ffffff;
}
.has-text-primary{
  color: #1f2833;
}
.has-text-light{
  color: #45a29E;
}
.has-text-light2{
  color: #31d6cf;
}
.has-text-dark{
  color: #0b0c10;
}
.has-text-warning{
  color: #fcad0f;
}
.has-text-danger{
  color: #d82222;
}
.has-text-success{
  color: #66fcf1;
}
.has-text-info{
  color: #c5c6c7;
}
.has-background-success{
  background-color:#66fcf1!important;
}
.has-background-light{
  background-color:#45a29E!important;
}
.has-background-primary{
  background-color:#1f2833!important;
}
.has-background-dark{
  background-color:#0b0c10!important;
}
.has-background-grad0{
  background: linear-gradient(to bottom right, #66fcf1, #45A29E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.has-background-grad1{
  background: linear-gradient(to bottom right, #45A29E, #3b777a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.has-background-grad2{
  background: linear-gradient(to bottom right, #1F2833, #0B0C10); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "play-regular";
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: #fcad0f;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@-webkit-keyframes Pulse {
    0% { box-shadow: 0 0 0 0 rgba(200,200,200,0.7); }
    70% { box-shadow: 0 0 0 calc(0.5vw + 0.5vh) rgba(200,200,200,0); }
}
@keyframes Pulse {
    0% { box-shadow: 0 0 0 0 rgba(200,200,200,0.7); }
    70% { box-shadow: 0 0 0 calc(0.5vw + 0.5vh) rgba(200,200,200,0); }
}
*,::after,::before{
  box-sizing:inherit;
}
img{
  height:auto;
  max-width:100%;
}
a{
  color:#c5c6c7;
  text-decoration:none;
}
span{
  font-style:inherit;
  font-weight:inherit;
}

iframe {
  border: 0;
  /*border-color: #c5c6c7;*/
}

/*! CSS Used from: http://localhost:8080/static/css/addons/bulma.min.css */
 a:hover{
  color:#fcad0f;
}

.checkbox_wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /*padding-left: 35px;*/
  /*margin-bottom: 12px;*/
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form {
  position: relative;
  width: 100%;
}
.card {
  position: absolute;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255,0.1);;
  box-shadow: 0 0 calc(1.5vh + 1.5vw) 0 rgba(0, 0, 0, 0.75);
}
.centerX {
  left: 50%;
  transform: translateX(-50%);
}
.centerY {
  top: 50%;
  transform: translateY(-50%);
}
.centerXY {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.banner-title {
  border-top-left-radius:inherit;
  border-top-right-radius:inherit;
}

/* Hide the browser's default checkbox */
.checkbox_wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox {
  position: absolute;
  float: left;
/*  top: 0;
  left: 0;
*/background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox_wrapper:hover input ~ .checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_wrapper input:checked ~ .checkbox {
  background-color: #fcad0f;
}

/* Create the checkbox/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkbox when checked */
.checkbox_wrapper input:checked ~ .checkbox:after {
  display: block;
}
.input {
  color: #ffffff;
  text-align: center;
  /*display: block;*/
  background: transparent;
  font-family: inherit;
  border: none;
  transition: all 0.5s;
}

.input input:invalid {
  border-color: #d82222;
}
.input:focus{
  border-color: #fcad0f;
}
.input:active{
  border-color: #fcad0f;
}
.button:active,.button:focus{
  outline:0;
}
.button,a{
  cursor:pointer;
}
*,::after,::before{
  box-sizing:inherit;
}
img{
  height:auto;
  max-width:100%;
}
a{
  color:#fcad0f;
  text-decoration:none;
}
span{
  font-style:inherit;
  font-weight:inherit;
}
.has-text-bold{
  font-weight:700!important;
}
.button {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  align-items:center;
  box-shadow:none;
  display:inline-flex;
  font-family:inherit;
  /*justify-content:flex-start;*/
  position:relative;
  vertical-align:middle;
  justify-content:center;
  text-align:center;
  white-space:nowrap;
  border-style: solid;
  border-color: #c5c6c7;
  /*background-color:#1f2833;*/
  color:#fff;
}

.button:hover{
  border-color:#b5b5b5;
  color:#363636;
}
.button:focus{
  border-color:#3273dc;
  color:#363636;
}
.button:active{
  border-color:#4a4a4a;
  color:#363636;
}
.buttons{
  align-items:center;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
}
.buttons .button{
  margin-bottom:.5rem;
}
.buttons .button:not(:last-child):not(.is-fullwidth){
  margin-right:.5rem;
}
.buttons:last-child{
  margin-bottom:-.5rem;
}
.textarea {
  text-justify: auto;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for WebKit */
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@media (min-aspect-ratio: 1/1) {
  .text-h1 {
    font-size: 8vh;
  }
  .text-h2 {
    font-size: 6vh;
  }
  .text-h3 {
    font-size: 5vh;
  }
  .text-h4 {
    font-size: 4vh;
  }
  .text-h5 {
    font-size: 3vh;
  }
  .text-a {
    font-size: 2vh;
  }
  .margin-right {
    margin-right: 2.5vh;
  }
  .margin-left {
    margin-left: 2.5vh;
  }
  .margin-top {
    margin-top: 2.5vh;
  }
  .margin-bot {
    margin-bottom: 2.5vh;
  }
  .padding-right {
    padding-right: 2.5vh;
  }
  .padding-left {
    padding-left: 2.5vh;
  }
  .padding-top {
    padding-top: 2.5vh;
  }
  .padding-bot {
    padding-bottom: 2.5vh;
  }
  .thin-margin-right {
    margin-right: 1vh;
  }
  .thin-margin-left {
    margin-left: 1vh;
  }
  .thin-margin-top {
    margin-top: 1vh;
  }
  .thin-margin-bot {
    margin-bottom: 1vh;
  }
  .thin-padding-right {
    padding-right: 1vh;
  }
  .thin-padding-left {
    padding-left: 1vh;
  }
  .thin-padding-top {
    padding-top: 1vh;
  }
  .thin-padding-bot {
    padding-bottom: 1vh;
  }
  .textarea {
    padding: 1vh;
  }
  .banner-title {
    padding: 4vh;
    margin-bottom: 5vh;
  }
  .card {
    min-width: 65vh;
    max-width: 60vw;
    border-radius: 2vh;
  }
  .card button {
    max-width: 20vw;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
  }
  iframe {
    border-radius: 2vh;
    /*border-width: 0.2vh;*/
  }
  .pulses {
    border-radius: 2vh;
    animation: Pulse 2s infinite;
  }
  .checkbox_wrapper {
    height: 3.5vh;
    line-height: 3.5vh;
    margin-bottom: 5vh;
    font-size: 3.5vh;
  }
  .checkbox {
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 1vh;
  }
  /* Style the checkbox/indicator */
  .checkbox_wrapper .checkbox:after {
    left: 1vh;
    top: 0vh;
    width: 1.5vh;
    height: 2vh;
    border: solid white;
    border-width: 0 0.7vh 0.7vh 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkbox_caption {
    margin-left: 4.5vh;
  }
  .input {
    min-height: 5vh;
    min-width: 15vh;
    /*max-width: 55vh;*/
    font-size: 3.5vh;
    margin: 1.5vh;
/*    margin-left: 1.5vh;
    margin-right: 1.5vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
*/    border-radius: 1vh;
    border-bottom: 0.4vh solid #45a29E;
  }
  .button {
    font-size:2.5vh;
    padding-bottom:1vh;
    padding-top:1vh;
    border-radius: 1vh;
    border-width: 0.2vh;
    line-height: 4.5vh;
    min-height: 5vh;
    min-width: calc(8vh + 5vw);
    max-width: 40vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  .text-h1 {
    font-size: 12vw;
  }
  .text-h2 {
    font-size: 10vw;
  }
  .text-h3 {
    font-size: 8vw;
  }
  .text-h4 {
    font-size: 6vw;
  }
  .text-h5 {
    font-size: 4.5vw;
  }
  .text-a {
    font-size: 3vw;
  }
  .margin-right {
    margin-right: 6vw;
  }
  .margin-left {
    margin-left: 6vw;
  }
  .margin-top {
    margin-top: 6vw;
  }
  .margin-bot {
    margin-bottom: 6vw;
  }
  .padding-right {
    padding-right: 6vw;
  }
  .padding-left {
    padding-left: 6vw;
  }
  .padding-top {
    padding-top: 6vw;
  }
  .padding-bot {
    padding-bottom: 6vw;
  }
  .thin-margin-right {
    margin-right: 2vw;
  }
  .thin-margin-left {
    margin-left: 2vw;
  }
  .thin-margin-top {
    margin-top: 2vw;
  }
  .thin-margin-bot {
    margin-bottom: 2vw;
  }
  .thin-padding-right {
    padding-right: 2vw;
  }
  .thin-padding-left {
    padding-left: 2vw;
  }
  .thin-padding-top {
    padding-top: 2vw;
  }
  .thin-padding-bot {
    padding-bottom: 2vw;
  }
  iframe {
    border-radius: 3vw;
    /*border-width: 0.2vh;*/
  }
  .banner-title {
    padding: 8vw;
    margin-bottom: 6vw;
  }
  .textarea {
    padding: 2vw;
  }
  .card {
    min-width: 60vw;
    max-width: 90vw;
    border-radius: 3vw;
  }
  .card button {
    max-width: 35vw;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .pulses {
    border-radius: 3vw;
    animation: Pulse 2s infinite;
  }
  .checkbox_wrapper {
    height: 7vw;
    line-height: 7vw;
    margin-bottom: 5vw;
    font-size: 5vw;
  }
  .checkbox {
    height: 7vw;
    width: 7vw;
    border-radius: 2vw;
  }
  /* Style the checkbox/indicator */
  .checkbox_wrapper .checkbox:after {
    left: 2vw;
    top: 0vw;
    width: 3vw;
    height: 4vw;
    border: solid white;
    border-width: 0 1.5vw 1.5vw 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkbox_caption {
    margin-left: 9vw;
  }
  .input {
    min-height: 10vw;
    min-width: 40vw;
    max-width: 80vw;
    font-size: 5vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    /*margin-left: 1.5rem;*/
    /*margin-right: 1.5rem;*/
    /*padding: 0.75vw 0;*/
    border-radius: 1vw;
    border-bottom: 0.8vw solid #45a29E;
  }
  .button {
    font-size: 5vw;
    padding-bottom:1vw;
    padding-top: 1vw;
    border-radius: 2.5vw;
    border-width: 0.2vw;
    line-height: 11vw;
    min-height: 5vw;
    min-width: 25vw;
    max-width: 60vw;
  }
}
