html,
body {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

@media (max-aspect-ratio: 1/1) {
    html {
        background: linear-gradient(0.42turn, #0b0c10, #1f2833 10%, #45a29e 25%, #55c6be 30%, #45a29e 35%, #1f2833 55%, #0b0c10 85%);
    }
    .logo_container {
        width: 100%; height: 50%; top: 0%; left: 0%;
    }
    .captcha_container {
        width: 100%; height: 50%; top: 50%; left: 0%;
    }
}
@media (min-aspect-ratio: 1/1) {
    html {
        background: linear-gradient(0.33turn, #0b0c10, #1f2833 10%, #45a29e 25%, #55c6be 30%, #45a29e 35%, #1f2833 55%, #0b0c10 85%);
    }
    .logo_container {
        width: 50%; height: 100%; top: 0%; left: 0%;
    }
    .captcha_container {
        width: 50%; height: 100%; top: 0%; left: 50%;
    }
}

.core_container {
	position : absolute;
	margin: auto;
}

.tw_wrapper {
	width: 100%;
	height: 100%;
	text-align: center;
	float: left;
	/*padding: 5%;*/
    margin: 0;
    font-family: "play-regular", "Play";
    /*font-style: normal;*/
    /*line-height: 95%;*/
    /*font-weight: 400;*/
    color: #66fcf1;
}

#cookie_div {
    position: absolute;
}

#svg_bar, #svg_P {
    position: absolute;
    left: 50%;
    top: 50%;
    /*transform: translate(-50%,-50%); KILLS THE SVGJS SCALING >> NEEDS TO BE DONE FROM JS*/
}

#svg_cookie {
	position: absolute;
	/*fill: #00FF00;*/
}

.core_tw {
    position: relative;
    left: 50%;
    top: 50%;
    width: 90%;
	transform: translate(-50%, -50%);
  	font-size: 2rem;
}

.cookie_policy_tw {
	position: absolute;
    left: 50%;
    bottom: 0%;
	transform: translate(-50%, -50%);
    width: 98%;
	font-size: 1rem;
}
