html,body {
    background: linear-gradient(to bottom right, #0B0C10 20%, #1F2833 60%, #45A29E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
    position: absolute;
    top: 3.25rem;
    height: calc(100% - 3.25rem);
    width:100%;
    font-family: "play-regular", "Play";
    /*color: #66fcf1;*/
    color: white;
}

@media (max-aspect-ratio: 1/1) {
    html {
        /*background: linear-gradient(0.42turn, #0b0c10, #1f2833 10%, #45a29e 25%, #55c6be 30%, #45a29e 35%, #1f2833 55%, #0b0c10 85%);*/
    }
    .main .tw_container {
        width: 100%; height: 25%; top: 0%; left: 0%;
    }
    .main .skills_container {
        width: 100%; height: 20%; top: 25%; left: 0%;
    }
    .main .picture_container {
        width: 100%; height: 55%; top: 45%; left: 0%;
    }
    .main #iframe_1_bit_wrapper {
        height:40vh;
        width:40vh;
        max-width:90vw;
        max-height:90vw;
        transform: translate(-50%, -65%);
    }
}
@media (min-aspect-ratio: 1/1) {
    html {
        /*background: linear-gradient(0.33turn, #0b0c10, #1f2833 10%, #45a29e 25%, #55c6be 30%, #45a29e 35%, #1f2833 55%, #0b0c10 85%);*/
    }
    .main .tw_container {
        width: 45%; height: 50%; top: 0%; left: 0%;
    }
    .main .skills_container {
        width: 45%; height: 25%; top: 50%; left: 0%;
    }
    .main .picture_container {
        width: 55%; height: 100%; top: 0%; left: 45%;
    }
    .main #iframe_1_bit_wrapper {
        height:50vw;
        width:50vw;
        max-width:75vh;
        max-height:75vh;
        transform: translate(-50%, -55%);
    }
}

.main #iframe_1_bit_wrapper {
    position: relative;
    left: 50%;
    top: 50%;
}

/*.caption_tw {
    position: relative;
    text-align: center;
    width: 98%;
    font-size: 1rem;
}
*/
.main .caption_tw {
    position: absolute;
    text-align: center;
    top: calc(100% - 1vw - 3rem);
    width: 98%;
    font-size: 1rem;
}

.main .core_container {
    position: absolute;
    margin: auto;
}

.main .skills_container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100% 100% 100%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
}

.main .skill {
}

.main .tw_wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    text-align: center;
    /*padding: 5%;*/
    margin: 0;
    font-size: 1.5rem;
    /*font-style: normal;*/
    /*font-weight: 400;*/
}

.main .center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

#js_logo,
#go_logo,
#cpp_logo {
    position: absolute;
}