html {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
	background: linear-gradient(to bottom right, #0B0C10 20%, #1F2833 60%, #45A29E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
}

/*#wrapper {
	position: absolute;
	width: 100vw;
	height: 100vh;
}
*/
.navbar-menu {
	background-color: transparent
}