._mb_container
{
	position : absolute;
	margin: auto;
    width: 100%; height: 15%; top: 85%; left: 0%;
}

#_wrapper
{
	width: 100%;
	height: 100%;
	text-align: center;
	float: left;
    margin: 0;
}
#_center {
    position: relative;
    left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
}
