<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head lang="en">
        {{template "generic_head.html"}}
    </head>
    <body>
        {{template "generic_header.html"}}
        {{template "generic_navbar.html"}}
		<div class="main">
<!-- 		  <div class="tw_container core_container">
		    <div class="tw_wrapper">
		      <div class="center">
		        <span id="tw"></span>
		      </div>
		    </div>
		  </div> -->
		  <div class="picture_container core_container">
		    <iframe id="iframe_1_bit"
		        title="iframe_1_bit"
		        src="http://localhost:8080/showcase/misc/_1_bit">
		    </iframe>
		  </div>
		</div>
	</body>
</html>
