<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Log In</title>
        {{template "generic_head.html"}}
        <link rel="stylesheet" type="text/css" href="static/css/log_in.css">
        <script src="static/js/log_in.js"></script>
    </head>
    <body>
        <header>
            {{template "generic_header.html"}}
            {{template "generic_navbar.html"}}
            <div id="visitor" class="hidden">
                <span id="visitor_id">{{.VisitorID}}</span>
            </div>
        </header>
        <div class="main after-header before-footer">
            {{template "log_in_body.html"}}
        </div>
        <footer>
            {{template "generic_footer.html"}}
        </footer>
    </body>
</html>
