<!DOCTYPE html>
<html>
    <head lang="en">
        {{template "generic_head.html"}}
        {{template "skills_head.html"}}
    </head>
    <body>
        <header>
            {{template "generic_header.html"}}
            {{template "generic_navbar.html"}}
            <div id="visitor" class="hidden">
                <span id="visitor_id">{{.VisitorID}}</span>
            </div>
        </header>
<!--         <div class="main after-header before-footer">
            {{template "skills_body.html"}}
        </div> -->
        <footer>
            {{template "generic_footer.html"}}
        </footer>
        <!-- add chatbot???? funnier than a contact form -->
    </body>
</html>
